.login {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    #FFDF00,
    #009B3A
  );

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;

  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: #171a21;

  border-radius: 24px;

  overflow: hidden;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.left {
  padding: 80px 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
    90deg,
    #000000,
    #000000
  );
}

.left h1 {
  color: #ffffff;

  font-size: 3rem;
  font-weight: 700;

  line-height: 1.1;

  margin-bottom: 20px;
}

.left h1 span {
  color: #ffd000;
}

.left p {
  color: #dddddd;

  font-size: 1.1rem;
  line-height: 1.7;

  max-width: 450px;
}

.right {
  padding: 80px 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.form h2 {
  color: #fff;

  font-size: 2rem;

  margin-bottom: 10px;
}

.form input {
  width: 100%;
  height: 55px;

  border: none;
  outline: none;

  border-radius: 12px;

  background: #232833;

  padding: 0 18px;

  color: #fff;

  font-size: 1rem;
}

.form input::placeholder {
  color: #999;
}

.form button {
  width: 100%;
  height: 55px;

  border: none;

  border-radius: 12px;

  background: #ffd000;

  color: #000;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.form button:hover {
  transform: translateY(-2px);

  background: #ffdf4d;
}

.form span {
  color: #bdbdbd;

  text-align: center;

  font-size: 0.95rem;
}

@media (max-width: 900px) {

  .container {
    grid-template-columns: 1fr;
  }

  .left {
    padding: 50px 30px;
  }

  .right {
    padding: 50px 30px;
  }

  .left h1 {
    font-size: 2.3rem;
  }

}

.loginLink {

  color: #bdbdbd;

  text-align: center;

  font-size: 0.95rem;

  text-decoration: none;

  transition: 0.3s;

}

.loginLink:hover {

  color: #ffd000;

}

.logoBack {

  position: absolute;

  top: 170px;
  left: 410px;

}

.logoBack img {

  width: 120px;

  cursor: pointer;

  transition: 0.3s;

}

.logoBack img:hover {

  transform: scale(1.05);

}