.container {

  display: flex;
  flex-direction: column;

  gap: 30px;

}

.topo {

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;

  flex-wrap: wrap;

}

.topo h1 {

  color: #ffffff;

  font-size: 2.5rem;

}

.topo input {

  width: 320px;
  max-width: 100%;

  height: 45px;

  border: 1px solid #2f3645;

  border-radius: 12px;

  background: #0f1117;

  color: #ffffff;

  padding: 0 15px;

  outline: none;

}

.topo input:focus {

  border-color: #ffd000;

}

.lista {

  display: flex;
  flex-direction: column;

  gap: 20px;

}

.card {

  background: #171a21;

  border: 1px solid #232833;

  border-radius: 20px;

  padding: 25px;

  display: flex;
  justify-content: space-between;

  gap: 20px;

  flex-wrap: wrap;

}

.card h2 {

  color: #ffffff;

  margin-bottom: 10px;

}

.card p {

  color: #bdbdbd;

  margin-bottom: 6px;

}

.info {

  display: flex;
  flex-direction: column;

  gap: 6px;

}

.info p {

  margin: 0;

  color: #bdbdbd;

}

.excluir {
  margin-top: 10px;
  border: none;
  height: 45px;
  padding: 0 20px;
  border-radius: 12px;

  background: #ffb020; /* amarelo = aviso / desativar */
  color: #111;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.excluir:hover {

  transform: translateY(-2px);
  opacity: 0.9;
}

@media (max-width: 768px) {

  .card {

    flex-direction: column;

  }

}

.cardInativo {
  opacity: 0.6;
  filter: grayscale(1);
  border: 1px solid #333;
}

.filtros {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.filtros button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #232833;
  color: white;
  transition: 0.3s;
}

.filtros button:hover {
  background: #ffd000;
  color: #000;
}

/*Responsivo*/

@media (max-width: 1024px) {

  .card {
    flex-direction: column;
  }

  .info {
    width: 100%;
  }

}


@media (max-width: 768px) {

  .container h1 {
    font-size: 1.8rem;
  }

  /* TOPO */
  .topo {
    flex-direction: column;
    align-items: flex-start;
  }

  .topo input {
    width: 100%;
  }

  /* FILTROS */
  .filtros {
    flex-wrap: wrap;
  }

  .filtros button {
    flex: 1 1 45%;
    text-align: center;
  }

  /* CARD */
  .card {
    flex-direction: column;
    padding: 18px;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  /* INFO */
  .info {
    width: 100%;
  }

  .excluir {
    width: 100%;
  }

}


@media (max-width: 480px) {

  .filtros button {
    flex: 1 1 100%;
  }

  .container h1 {
    font-size: 1.5rem;
  }

}